#ignore .idea folder
task_1/.idea/
task_2/.idea/
task_3/.idea/

#ignore out folder
task_1/out/
task_2/out/
task_3/out/

#ignore META_INF
task_1/src/META-INF
task_2/src/META-INF

#other files
task_2/task_2_reload.iml
task_3/target
task_3/task3_reload.iml
task_3/src/test



